[submodule "godot-cpp"]
	path = godot-cpp
	url = git@github.com:godotengine/godot-cpp.git
[submodule "libpd"]
	path = libpd
	url = git@github.com:libpd/libpd.git
[submodule "puredata-extension-demo"]
	path = puredata-extension-demo
	url = git@github.com:kureta/puredata-extension-demo.git
